a{
    text-decoration: none;
    color: #3D8361;
    font-weight: bolder;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing{
    margin-top: 90px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* carousel section */
.container h1{
    color: #fefefe;
    background-color: rgba(85, 85, 85, 0.5);
}

.carousel-item img{
    width: 100%;
    object-fit: cover;
}

/* catalogue section */
.col-lg-4 i{
    font-size: 9rem;
}

.heart{color: #ff9494;}
.diet{color: #3D8361;}

/* article section */
.article-container a{
    color: #555;
}

.featurette-image{
    width: 560px;
    height: 350px;
}

.featurette-heading{
    margin: 30px 0;
}

/* footer */
.top{
    position: fixed;
    width: 2.5%;
    right: 2rem;
    bottom: 2rem;
    z-index: 99;
    border-radius: 100%;
    color: #3D8361;
}

.top:hover{
    color: #fefefe;
    transition-duration:0.5s;
}